<h3>Welcome to The Grapevine</h3>
<br>
<%= link_to image_tag("grape-leaves-drawing-24.png") %>
  <div>
    <h3>Introduction</h3>
    <p>what is Grapevine etc</p>
  </div>
<br>
  <div>
    <h3>Popular Wines</h3>
    <p>pull a list of wines based on number of users or rating?</p>
  </div>
<br>
<br>
<%= link_to 'Sign In', signin_path %>
<%= link_to 'Sign Up', new_user_path %>
