body {
  background: #402151;
  color: white;
}

header {
  padding: 30px;
  background: #543664;
  text-shadow: 3px 2px #2E113D;
  color: #B485A0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font: 70px arial, sans-serif;
}

footer {
  margin-top: 45px;
  padding: 20px;
  background: #405614;
  color: #E1E1A6;
}

a {
    color: #897196;
}

a:hover {
    background-color: #555;
    color: white;
}
